body {
    font-family: 'Courier New', Courier, monospace;
    background-color: paleturquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#header {
    display: flex;
    flex-direction: column;
    background-color: lightslategrey;
    padding: 1px 5px 1px 5px;
    border-radius: 20px;
}
#header h1 #bw {
    align-self: center;
}

#header button {
    width: fit-content;
    height: auto;
    align-self: center;
    padding-bottom: 3%;
}


.container {
    margin-top: 50px;
    display: inline-grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 5px solid white;
    border-radius: 5px;
    height: 575px;
    width: 575px;
}

.divs {
        background-color: white;
        border: 1px solid black;
}
footer {
    margin-top: 15%;
}
